In [1]:
import ghostscript

In [2]:
import pandas as pd
import camelot

In [3]:
tables=camelot.read_pdf(r"E:\Dataset2\f9a8b421-5538-eae8-8787-575c838e3404.pdf",pages="289,290,291,292,293,294,295,296,297",flavor='stream')

In [4]:
df1=tables[0].df

In [5]:
df1=df1.iloc[10:-5]

In [6]:
df1.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','U Sample Students']

In [7]:
df1.drop(["all","estd","Upper Primary-Recognised","Upper Primary-Unrecognised","U Sample Students"],axis=1,inplace=True)

C:\Users\sireesha.balagam\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
df1=df1.melt(id_vars=[df1.columns[0],df1.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [9]:
df1[["Level of Attendance","Nature of Institution"]]=df1[df1.columns[2]].str.split('-',expand=True)

In [10]:
df1

,State,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,77,Recognised,946,Primary
1,Arunachal Pradesh,11,Recognised,325,Primary
2,Assam,30,Recognised,828,Primary
3,Bihar,99,Recognised,301,Primary
4,Chhattisgarh,12,Recognised,663,Primary
...,...,...,...,...,...
67,Chandigarh,7,Unrecognised,0,Primary
68,Dadra & N. Haveli,0,Unrecognised,0,Primary
69,Daman & Diu,2,Unrecognised,0,Primary
70,Lakshadweep,0,Unrecognised,0,Primary
71,Puducherry,6,Unrecognised,0,Primary

In [11]:
df2=tables[0].df

In [12]:
df2=df2.iloc[10:-5]

In [13]:
df2.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','P Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','Sample Students']

In [14]:
df2.drop(["all","estd","Primary-Recognised","Primary-Unrecognised","P Sample Students"],axis=1,inplace=True)

C:\Users\sireesha.balagam\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [15]:
df2=df2.melt(id_vars=[df2.columns[0],df2.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [16]:
df2[["Level of Attendance","Nature of Institution"]]=df2[df2.columns[2]].str.split('-',expand=True)

In [17]:
df_rural_m=pd.concat([df1,df2])

In [18]:
df_rural_m.insert(1,"Residence Area","Rural")
df_rural_m.insert(2,"Gender","Male")

In [19]:
df_rural_m

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Rural,Male,77,Recognised,946,Primary
1,Arunachal Pradesh,Rural,Male,11,Recognised,325,Primary
2,Assam,Rural,Male,30,Recognised,828,Primary
3,Bihar,Rural,Male,99,Recognised,301,Primary
4,Chhattisgarh,Rural,Male,12,Recognised,663,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Rural,Male,1,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Rural,Male,0,Unrecognised,0,Upper Primary
69,Daman & Diu,Rural,Male,0,Unrecognised,0,Upper Primary
70,Lakshadweep,Rural,Male,0,Unrecognised,0,Upper Primary
71,Puducherry,Rural,Male,2,Unrecognised,0,Upper Primary

In [20]:
df3=tables[1].df

In [21]:
df3=df3.iloc[10:-5]

In [22]:
df3.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','U Sample Students']

In [23]:
df3.drop(["all","estd","Upper Primary-Recognised","Upper Primary-Unrecognised","U Sample Students"],axis=1,inplace=True)

C:\Users\sireesha.balagam\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [24]:
df3=df3.melt(id_vars=[df3.columns[0],df3.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [25]:
df3[["Level of Attendance","Nature of Institution"]]=df3[df3.columns[2]].str.split('-',expand=True)

In [26]:
df4=tables[1].df

In [27]:
df4=df4.iloc[10:-5]

In [28]:
df4.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','P Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','Sample Students']

In [29]:
df4.drop(["all","estd","Primary-Recognised","Primary-Unrecognised","P Sample Students"],axis=1,inplace=True)

In [30]:
df4=df4.melt(id_vars=[df4.columns[0],df4.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [31]:
df4[["Level of Attendance","Nature of Institution"]]=df4[df4.columns[2]].str.split('-',expand=True)

In [32]:
df_rural_f=pd.concat([df3,df4])

In [33]:
df_rural_f.insert(1,"Residence Area","Rural")
df_rural_f.insert(2,"Gender","Female")

In [34]:
df_rural_f

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Rural,Female,52,Recognised,956,Primary
1,Arunachal Pradesh,Rural,Female,4,Recognised,541,Primary
2,Assam,Rural,Female,22,Recognised,761,Primary
3,Bihar,Rural,Female,53,Recognised,330,Primary
4,Chhattisgarh,Rural,Female,21,Recognised,865,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Rural,Female,1,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Rural,Female,0,Unrecognised,0,Upper Primary
69,Daman & Diu,Rural,Female,0,Unrecognised,0,Upper Primary
70,Lakshadweep,Rural,Female,0,Unrecognised,0,Upper Primary
71,Puducherry,Rural,Female,4,Unrecognised,0,Upper Primary

In [35]:
df5=tables[2].df

In [36]:
df5=df5.iloc[10:-5]

In [37]:
df5.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','U Sample Students']

In [38]:
df5.drop(["all","estd","Upper Primary-Recognised","Upper Primary-Unrecognised","U Sample Students"],axis=1,inplace=True)

C:\Users\sireesha.balagam\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [39]:
df5=df5.melt(id_vars=[df5.columns[0],df5.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [40]:
df5[["Level of Attendance","Nature of Institution"]]=df5[df5.columns[2]].str.split('-',expand=True)

In [41]:
df6=tables[2].df

In [42]:
df6=df6.iloc[10:-5]

In [43]:
df6.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','P Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','Sample Students']

In [44]:
df6.drop(["all","estd","Primary-Recognised","Primary-Unrecognised","P Sample Students"],axis=1,inplace=True)

In [45]:
df6=df6.melt(id_vars=[df6.columns[0],df6.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [46]:
df6[["Level of Attendance","Nature of Institution"]]=df6[df6.columns[2]].str.split('-',expand=True)

In [47]:
df_rural_p=pd.concat([df5,df6])

In [48]:
df_rural_p.insert(1,"Residence Area","Rural")
df_rural_p.insert(2,"Gender","Person")

In [49]:
df_rural_final=pd.concat([df_rural_m,df_rural_f,df_rural_p])

In [50]:
df_rural_final

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Rural,Male,77,Recognised,946,Primary
1,Arunachal Pradesh,Rural,Male,11,Recognised,325,Primary
2,Assam,Rural,Male,30,Recognised,828,Primary
3,Bihar,Rural,Male,99,Recognised,301,Primary
4,Chhattisgarh,Rural,Male,12,Recognised,663,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Rural,Person,2,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Rural,Person,0,Unrecognised,0,Upper Primary
69,Daman & Diu,Rural,Person,0,Unrecognised,0,Upper Primary
70,Lakshadweep,Rural,Person,0,Unrecognised,0,Upper Primary
71,Puducherry,Rural,Person,6,Unrecognised,0,Upper Primary

In [51]:
df7=tables[3].df

In [52]:
df7=df7.iloc[10:-5]

In [53]:
df7.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','U Sample Students']

In [54]:
df7.drop(["all","estd","Upper Primary-Recognised","Upper Primary-Unrecognised","U Sample Students"],axis=1,inplace=True)

C:\Users\sireesha.balagam\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [55]:
df7=df7.melt(id_vars=[df7.columns[0],df7.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [56]:
df7[["Level of Attendance","Nature of Institution"]]=df7[df7.columns[2]].str.split('-',expand=True)

In [57]:
df8=tables[3].df

In [58]:
df8=df8.iloc[10:-5]

In [59]:
df8.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','P Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','Sample Students']

In [60]:
df8.drop(["all","estd","Primary-Recognised","Primary-Unrecognised","P Sample Students"],axis=1,inplace=True)

In [61]:
df8=df8.melt(id_vars=[df8.columns[0],df8.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [62]:
df8[["Level of Attendance","Nature of Institution"]]=df8[df8.columns[2]].str.split('-',expand=True)

In [63]:
df_urban_m=pd.concat([df7,df8])

In [64]:
df_urban_m.insert(1,"Residence Area","Urban")
df_urban_m.insert(2,"Gender","Male")

In [65]:
df_urban_m

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Urban,Male,153,Recognised,967,Primary
1,Arunachal Pradesh,Urban,Male,7,Recognised,1000,Primary
2,Assam,Urban,Male,27,Recognised,887,Primary
3,Bihar,Urban,Male,154,Recognised,589,Primary
4,Chhattisgarh,Urban,Male,69,Recognised,834,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Urban,Male,1,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Urban,Male,2,Unrecognised,0,Upper Primary
69,Daman & Diu,Urban,Male,4,Unrecognised,0,Upper Primary
70,Lakshadweep,Urban,Male,0,Unrecognised,0,Upper Primary
71,Puducherry,Urban,Male,9,Unrecognised,0,Upper Primary

In [66]:
df9=tables[4].df

In [67]:
df9=df9.iloc[10:-5]

In [68]:
df9.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','U Sample Students']

In [69]:
df9.drop(["all","estd","Upper Primary-Recognised","Upper Primary-Unrecognised","U Sample Students"],axis=1,inplace=True)

C:\Users\sireesha.balagam\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [70]:
df9=df9.melt(id_vars=[df9.columns[0],df9.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [71]:
df9[["Level of Attendance","Nature of Institution"]]=df9[df9.columns[2]].str.split('-',expand=True)

In [72]:
df10=tables[4].df

In [73]:
df10=df10.iloc[10:-5]

In [74]:
df10.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','P Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','Sample Students']

In [75]:
df10.drop(["all","estd","Primary-Recognised","Primary-Unrecognised","P Sample Students"],axis=1,inplace=True)

In [76]:
df10=df10.melt(id_vars=[df10.columns[0],df10.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [77]:
df10[["Level of Attendance","Nature of Institution"]]=df10[df10.columns[2]].str.split('-',expand=True)

In [78]:
df_urban_f=pd.concat([df9,df10])

In [79]:
df_urban_f.insert(1,"Residence Area","Urban")
df_urban_f.insert(2,"Gender","Female")

In [80]:
df_urban_f

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Urban,Female,146,Recognised,941,Primary
1,Arunachal Pradesh,Urban,Female,4,Recognised,1000,Primary
2,Assam,Urban,Female,24,Recognised,583,Primary
3,Bihar,Urban,Female,126,Recognised,491,Primary
4,Chhattisgarh,Urban,Female,46,Recognised,819,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Urban,Female,4,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Urban,Female,1,Unrecognised,0,Upper Primary
69,Daman & Diu,Urban,Female,0,Unrecognised,0,Upper Primary
70,Lakshadweep,Urban,Female,0,Unrecognised,0,Upper Primary
71,Puducherry,Urban,Female,5,Unrecognised,0,Upper Primary

In [81]:
df11=tables[5].df

In [82]:
df11=df11.iloc[10:-5]

In [83]:
df11.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','U Sample Students']

In [84]:
df11.drop(["all","estd","Upper Primary-Recognised","Upper Primary-Unrecognised","U Sample Students"],axis=1,inplace=True)

C:\Users\sireesha.balagam\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [85]:
df11=df11.melt(id_vars=[df11.columns[0],df11.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [86]:
df11[["Level of Attendance","Nature of Institution"]]=df11[df11.columns[2]].str.split('-',expand=True)

In [87]:
df12=tables[5].df

In [88]:
df12=df12.iloc[10:-5]

In [89]:
df12.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','P Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','Sample Students']

In [90]:
df12.drop(["all","estd","Primary-Recognised","Primary-Unrecognised","P Sample Students"],axis=1,inplace=True)

In [91]:
df12=df12.melt(id_vars=[df12.columns[0],df12.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [92]:
df12[["Level of Attendance","Nature of Institution"]]=df12[df12.columns[2]].str.split('-',expand=True)

In [93]:
df_urban_p=pd.concat([df11,df12])

In [94]:
df_urban_p.insert(1,"Residence Area","Urban")
df_urban_p.insert(2,"Gender","Person")

In [95]:
df_urban_p

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Urban,Person,299,Recognised,954,Primary
1,Arunachal Pradesh,Urban,Person,11,Recognised,1000,Primary
2,Assam,Urban,Person,51,Recognised,758,Primary
3,Bihar,Urban,Person,280,Recognised,541,Primary
4,Chhattisgarh,Urban,Person,115,Recognised,828,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Urban,Person,5,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Urban,Person,3,Unrecognised,0,Upper Primary
69,Daman & Diu,Urban,Person,4,Unrecognised,0,Upper Primary
70,Lakshadweep,Urban,Person,0,Unrecognised,0,Upper Primary
71,Puducherry,Urban,Person,14,Unrecognised,0,Upper Primary

In [96]:
df_urban_final=pd.concat([df_urban_m,df_urban_f,df_urban_p])

In [97]:
df_urban_final

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Urban,Male,153,Recognised,967,Primary
1,Arunachal Pradesh,Urban,Male,7,Recognised,1000,Primary
2,Assam,Urban,Male,27,Recognised,887,Primary
3,Bihar,Urban,Male,154,Recognised,589,Primary
4,Chhattisgarh,Urban,Male,69,Recognised,834,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Urban,Person,5,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Urban,Person,3,Unrecognised,0,Upper Primary
69,Daman & Diu,Urban,Person,4,Unrecognised,0,Upper Primary
70,Lakshadweep,Urban,Person,0,Unrecognised,0,Upper Primary
71,Puducherry,Urban,Person,14,Unrecognised,0,Upper Primary

In [98]:
df13=tables[6].df

In [99]:
df13=df13.iloc[10:-3]

In [100]:
df13.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','U Sample Students']

In [101]:
df13.drop(["all","estd","Upper Primary-Recognised","Upper Primary-Unrecognised","U Sample Students"],axis=1,inplace=True)

C:\Users\sireesha.balagam\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [102]:
df13=df13.melt(id_vars=[df13.columns[0],df13.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [103]:
df13[["Level of Attendance","Nature of Institution"]]=df13[df13.columns[2]].str.split('-',expand=True)

In [104]:
df14=tables[6].df

In [105]:
df14=df14.iloc[10:-3]

In [106]:
df14.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','P Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','Sample Students']

In [107]:
df14.drop(["all","estd","Primary-Recognised","Primary-Unrecognised","P Sample Students"],axis=1,inplace=True)

In [108]:
df14=df14.melt(id_vars=[df14.columns[0],df14.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [109]:
df14[["Level of Attendance","Nature of Institution"]]=df14[df14.columns[2]].str.split('-',expand=True)

In [110]:
df_total_m=pd.concat([df13,df14])

In [111]:
df_total_m.insert(1,"Residence Area","Total")
df_total_m.insert(2,"Gender","Male")

In [112]:
df_total_m

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Total,Male,230,Recognised,956,Primary
1,Arunachal Pradesh,Total,Male,18,Recognised,522,Primary
2,Assam,Total,Male,57,Recognised,846,Primary
3,Bihar,Total,Male,253,Recognised,385,Primary
4,Chhattisgarh,Total,Male,81,Recognised,769,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Total,Male,2,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Total,Male,2,Unrecognised,0,Upper Primary
69,Daman & Diu,Total,Male,4,Unrecognised,0,Upper Primary
70,Lakshadweep,Total,Male,0,Unrecognised,0,Upper Primary
71,Puducherry,Total,Male,11,Unrecognised,0,Upper Primary

In [113]:
df15=tables[7].df

In [114]:
df15=df15.iloc[10:-5]

In [115]:
df15.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','U Sample Students']

In [116]:
df15.drop(["all","estd","Upper Primary-Recognised","Upper Primary-Unrecognised","U Sample Students"],axis=1,inplace=True)

C:\Users\sireesha.balagam\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [117]:
df15=df15.melt(id_vars=[df15.columns[0],df15.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [118]:
df15[["Level of Attendance","Nature of Institution"]]=df15[df15.columns[2]].str.split('-',expand=True)

In [119]:
df16=tables[7].df

In [120]:
df16=df16.iloc[10:-5]

In [121]:
df16.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','P Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','Sample Students']

In [122]:
df16.drop(["all","estd","Primary-Recognised","Primary-Unrecognised","P Sample Students"],axis=1,inplace=True)

In [123]:
df16=df16.melt(id_vars=[df16.columns[0],df16.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [124]:
df16[["Level of Attendance","Nature of Institution"]]=df16[df16.columns[2]].str.split('-',expand=True)

In [125]:
df_total_f=pd.concat([df15,df16])

In [126]:
df_total_f.insert(1,"Residence Area","Total")
df_total_f.insert(2,"Gender","Female")

In [127]:
df_total_f

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Total,Female,198,Recognised,947,Primary
1,Arunachal Pradesh,Total,Female,8,Recognised,678,Primary
2,Assam,Total,Female,46,Recognised,690,Primary
3,Bihar,Total,Female,179,Recognised,402,Primary
4,Chhattisgarh,Total,Female,67,Recognised,845,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Total,Female,5,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Total,Female,1,Unrecognised,0,Upper Primary
69,Daman & Diu,Total,Female,0,Unrecognised,0,Upper Primary
70,Lakshadweep,Total,Female,0,Unrecognised,0,Upper Primary
71,Puducherry,Total,Female,9,Unrecognised,0,Upper Primary

In [128]:
df17=tables[8].df

In [129]:
df17=df17.iloc[10:-6]

In [130]:
df17.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','U Sample Students']

In [131]:
df17.drop(["all","estd","Upper Primary-Recognised","Upper Primary-Unrecognised","U Sample Students"],axis=1,inplace=True)

C:\Users\sireesha.balagam\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [132]:
df17=df17.melt(id_vars=[df17.columns[0],df17.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [133]:
df17[["Level of Attendance","Nature of Institution"]]=df17[df17.columns[2]].str.split('-',expand=True)

In [134]:
df18=tables[8].df

In [135]:
df18=df18.iloc[10:-6]

In [136]:
df18.columns=["State","Primary-Recognised",'Primary-Unrecognised','all','estd','P Sample Students','Upper Primary-Recognised','Upper Primary-Unrecognised','all','estd','Sample Students']

In [137]:
df18.drop(["all","estd","Primary-Recognised","Primary-Unrecognised","P Sample Students"],axis=1,inplace=True)

In [138]:
df18=df18.melt(id_vars=[df18.columns[0],df18.columns[-1]],var_name="Nature of Institution",value_name="Distribution of Currently Attending Students")

In [139]:
df18[["Level of Attendance","Nature of Institution"]]=df18[df18.columns[2]].str.split('-',expand=True)

In [140]:
df_total_p=pd.concat([df17,df18])

In [141]:
df_total_p.insert(1,"Residence Area","Total")
df_total_p.insert(2,"Gender","Person")

In [142]:
df_total_final=pd.concat([df_total_m,df_total_f,df_total_p])

In [143]:
df_total_final

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Total,Male,230,Recognised,956,Primary
1,Arunachal Pradesh,Total,Male,18,Recognised,522,Primary
2,Assam,Total,Male,57,Recognised,846,Primary
3,Bihar,Total,Male,253,Recognised,385,Primary
4,Chhattisgarh,Total,Male,81,Recognised,769,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Total,Person,7,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Total,Person,3,Unrecognised,0,Upper Primary
69,Daman & Diu,Total,Person,4,Unrecognised,0,Upper Primary
70,Lakshadweep,Total,Person,0,Unrecognised,0,Upper Primary
71,Puducherry,Total,Person,20,Unrecognised,0,Upper Primary

In [144]:
df_final=pd.concat([df_rural_final,df_urban_final,df_total_final])

In [145]:
df_final

,State,Residence Area,Gender,Sample Students,Nature of Institution,Distribution of Currently Attending Students,Level of Attendance
0,Andhra Pradesh,Rural,Male,77,Recognised,946,Primary
1,Arunachal Pradesh,Rural,Male,11,Recognised,325,Primary
2,Assam,Rural,Male,30,Recognised,828,Primary
3,Bihar,Rural,Male,99,Recognised,301,Primary
4,Chhattisgarh,Rural,Male,12,Recognised,663,Primary
...,...,...,...,...,...,...,...
67,Chandigarh,Total,Person,7,Unrecognised,0,Upper Primary
68,Dadra & N. Haveli,Total,Person,3,Unrecognised,0,Upper Primary
69,Daman & Diu,Total,Person,4,Unrecognised,0,Upper Primary
70,Lakshadweep,Total,Person,0,Unrecognised,0,Upper Primary
71,Puducherry,Total,Person,20,Unrecognised,0,Upper Primary

In [146]:
df_final.insert(1,"Year","2014")

In [147]:
df_final=df_final[['State', 'Year', 'Residence Area', 'Gender', 'Level of Attendance', 
       'Nature of Institution', 'Distribution of Currently Attending Students','Sample Students']]

In [148]:
df_final

,State,Year,Residence Area,Gender,Level of Attendance,Nature of Institution,Distribution of Currently Attending Students,Sample Students
0,Andhra Pradesh,2014,Rural,Male,Primary,Recognised,946,77
1,Arunachal Pradesh,2014,Rural,Male,Primary,Recognised,325,11
2,Assam,2014,Rural,Male,Primary,Recognised,828,30
3,Bihar,2014,Rural,Male,Primary,Recognised,301,99
4,Chhattisgarh,2014,Rural,Male,Primary,Recognised,663,12
...,...,...,...,...,...,...,...,...
67,Chandigarh,2014,Total,Person,Upper Primary,Unrecognised,0,7
68,Dadra & N. Haveli,2014,Total,Person,Upper Primary,Unrecognised,0,3
69,Daman & Diu,2014,Total,Person,Upper Primary,Unrecognised,0,4
70,Lakshadweep,2014,Total,Person,Upper Primary,Unrecognised,0,0
71,Puducherry,2014,Total,Person,Upper Primary,Unrecognised,0,20

In [149]:
df_final[df_final.columns[0]]=df_final[df_final.columns[0]].str.replace("A & N Islands","Andaman & Nicobar Islands")
df_final[df_final.columns[0]]=df_final[df_final.columns[0]].str.replace("Dadra & N. Haveli","Dadra & Nagar Haveli")

C:\Users\SIREES~1.BAL\AppData\Local\Temp/ipykernel_43032/4213881610.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_final[df_final.columns[0]]=df_final[df_final.columns[0]].str.replace("Dadra & N. Haveli","Dadra & Nagar Haveli")

In [150]:
df_final

,State,Year,Residence Area,Gender,Level of Attendance,Nature of Institution,Distribution of Currently Attending Students,Sample Students
0,Andhra Pradesh,2014,Rural,Male,Primary,Recognised,946,77
1,Arunachal Pradesh,2014,Rural,Male,Primary,Recognised,325,11
2,Assam,2014,Rural,Male,Primary,Recognised,828,30
3,Bihar,2014,Rural,Male,Primary,Recognised,301,99
4,Chhattisgarh,2014,Rural,Male,Primary,Recognised,663,12
...,...,...,...,...,...,...,...,...
67,Chandigarh,2014,Total,Person,Upper Primary,Unrecognised,0,7
68,Dadra & Nagar Haveli,2014,Total,Person,Upper Primary,Unrecognised,0,3
69,Daman & Diu,2014,Total,Person,Upper Primary,Unrecognised,0,4
70,Lakshadweep,2014,Total,Person,Upper Primary,Unrecognised,0,0
71,Puducherry,2014,Total,Person,Upper Primary,Unrecognised,0,20

In [152]:
df_final.to_excel("NSS_71_EDU_Table_17_18_07_2022.xlsx",index=False)